
{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Start Login -->
        <section class="section-padding bg-light-white login-register">
            <div class="container">
                <div class="row login-box">
                    <div class="col-lg-6 align-self-center no-padding">
                        <div class="form-section align-self-center">
                            <h3 class="text-custom-black fw-400 mb-xl-30">Sign into your account</h3>
                            <div class="square-tabs mb-2">
                                <ul class="custom nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="{% url 'Users:login' %}" class="nav-link active">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'Users:register' %}" class="nav-link">Register</a>
                                    </li>
                                </ul>
                            </div>
                            <form class="form-layout-1">
                                <div class="row">
                                    <div class="col-12 mb-xl-30">
                                        <div class="form-group">
                                            <div class="icon">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <label class="text-left">Email</label>
                                            <input type="text" name="email" class="form-control" placeholder="Email">
                                        </div>
                                    <div class="col-12">
                                        <div class="row align-items-center form-bottm">
                                            <div class="col-sm-6">
                                                <button class="btn-first btn-submit text-light-blue" type="submit">Reset</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                   {% if messages %}
                       {% for message in messages %}
                           <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                            <div>
                            {{ message }}
                            </div>
                           </div>

                       {% endfor %}
                   {% endif %}
               </div>
                                </div>
                            </form>
                            <div class="mb-3">
                   {% if messages %}
                       {% for message in messages %}
                           <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                            <div>
                            {{ message }}
                            </div>
                           </div>

                       {% endfor %}
                   {% endif %}
               </div>
                        </div>
                    </div>
                    <div class="col-lg-6 bg-color-15 align-self-center no-padding bg-img">
                        <div class="info clearfix">
                            <div class="logo-2">
                                <a href="index.html">
                                    <img src="https://via.placeholder.com/85x30" alt="logo">
                                </a>
                            </div>
                            <h5 class="text-custom-white text-uppercase fw-600">Welcome to Genmed</h5>
                            <div class="social-list">
                                <a href="#" class="facebook-bg">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="twitter-bg">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="google-bg">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="#" class="linkedin-bg">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login -->
{% endblock %}